<html lang="pt-br">
<head>
    <link rel="stylesheet" href="style.css">
    <title>Serving HTML and CSS</title>
</head>
<body>
<img src="deno.png" width="100" title="deno logo" alt="deno logo">
<h1><%= data.appName %></h1>
<h2>Hello <%= data.msg %></h2>
</body>
</html>